# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
env/
ENV/

# .NET
bin/
obj/
*.user
*.suo
*.cache
*.docstates
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]uild/
[Oo]bj/
[Ll]og/
[Ll]ogs/
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
*.dll
*.exe
*.pdb
*.mdb
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts/

# IDE
.idea/
*.swp
*.swo
.vscode/settings.json

# OS
.DS_Store
Thumbs.db
